html {
    scroll-behavior: smooth;
}

#home {
    height: 100vh;
    background: url("https://via.placeholder.com/1920x1080") center center no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home h1 {
    font-size: 4rem;
}

#home p {
    font-size: 1.5rem;
}

section {
    padding: 60px 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scroll-btn {
    margin-top: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


nav.scrolled {
    background-color: #333 !important;
}